
<div class="share-box">
  <h5>Share this:</h5>

  <a class="f" href="https://www.facebook.com/sharer/sharer.php?u=http://enformtk.u-aizu.ac.jp<%= current_page.url%>" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fa fa-facebook-official fa"></i><span> facebook</span></a>

  <a class="t" href="https://twitter.com/intent/tweet?text=<%=current_page.data.title%>&url=http://enformtk.u-aizu.ac.jp<%=current_page.url%>" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fa fa-twitter fa"></i><span> twitter</span></a>

  <a class="r" href="http://www.reddit.com/submit?url=http://enformtk.u-aizu.ac.jp<%=current_page.url%>" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" ><i class="fa fa-reddit fa"></i><span> reddit</span></a>

  <a class="l" href="https://www.linkedin.com/shareArticle?mini=true&url=http://enformtk.u-aizu.ac.jp<%=current_page.url%>/&title=<%=current_page.data.title%>&summary=&source=" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fa fa-linkedin fa"></i><span> linkedin</span></a>

  <a class="e" href="mailto:?subject=&amp;body=<%=current_page.data.title%> http://enformtk.u-aizu.ac.jp<%=current_page.url%>"><i class="fa fa-envelope fa"></i><span> email</span></a>

</div>


