<section>
  <table class="fullwidth">
      <tr>
      <td>
     <%if  current_page.data.prev_page%>
       <p style="text-align: left; display: inline; padding: 1em;border-width: 1px; border-color: black; border-style:solid;">
     <%=
        link_to("&laquo; #{current_page.data.prev_page}", 
        current_page.data.prev_url)
     %>
     <%else%>
     <%= '<p style="text-align: left; display: inline; padding: 1em;border-width: 1px; border-color: white; border-style:solid;">' %>
     <%end%>
     </p>
      </td>
      <td>
     <%if  current_page.data.next_page%>
      <p style="text-align: left; display: inline; padding: 1em;border-width: 1px; border-color: black; border-style:solid;">
      <%=
         link_to "#{current_page.data.next_page} &raquo;",
         current_page.data.next_url
      %>
     <%else%>
     <p style="text-align: left; display: inline; padding: 1em;border-width: 1px; border-color: white; border-style:solid;">
     <%end%>
      </p>
      </td>
    </tr>
  </table>
</section>
