<%if current_page.data.nav_menu%>
<div id="mySidepanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <%= 
   link_to "「新生活様式」に公に疑問を呈する理由 ", 
   'why-i-question-the-new-normal.html'
  %>
  <%= 
   link_to "科学と科学者",
   'science-and-scientists.html'
  %>
  <%= 
   link_to "スモン、巨大製薬、科学者",
   'smon-bigpharma-scientists.html'
  %>
  <%= 
   link_to "スモンからディオバン<sup>&reg;</sup>へ",
   'smon-to-diovan.html'
  %>
  <%= 
   link_to "立ち止まる時",
   'time-for-pause.html'
  %>
  <%= 
   link_to "巨大製薬と規制当局",
   'bigpharma-and-regulators.html'
  %>
  <%= 
   link_to "巨大製薬とWHO",
   'bigpharma-and-who.html'
  %>
  <%= 
   link_to "WHOと豚インフルパンデミック",
   'who-and-swine-flu.html'
  %>
  <%= 
   link_to "常識に立ち戻る",
   'return-to-common-sense.html'
  %>
  <%= 
   link_to "COVIDストーリーの非一貫性",
   'inconsistencies-in-covid-story.html'
  %>
  <%= 
   link_to "新型ウイルス、危険な変異",
   'novel-viruses.html'
  %>
  <%= 
   link_to "死亡統計",
   'death-profile.html'
  %>
  <%= 
   link_to "二つの都市の話",
   'tale-of-two-cities.html'
  %>
  <%= 
   link_to "結論として",
   'conclusions.html'
  %>
</div>
<button class="openbtn" onclick="openNav()">&#9776; Table of Contents</button>
<%end%>
