---
title: Going the wrong path
layout: tufte
prev_page: 立ち止まる時
prev_url: time-for-pause.html
next_page: 巨大製薬とWHO
next_url: bigpharma-and-who.html
nav_menu: true
---

# 過ちの道をたどる

<p class='subtitle'> 「新生活様式」に公に疑問を呈する理由  </p> 

<section> <h2> 拡大する巨大製薬の影響</h2> 
<p> 今日、 
<%= link_to '巨大製薬', 'https://www.statista.com/statistics/263102/pharmaceutical-market-worldwide-revenue-since-2001/' %> 
は数兆ドル産業であり、
その収入は
<%= link_to 'ほとんどの国連加盟国', 'https://www.visualcapitalist.com/the-86-trillion-world-economy-in-one-chart/' %>をも超えます。


 <%= link_to "各国の医薬品規制当局", 'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1119103/' %> 
 についての支配力は、
 <%= link_to "学術界や医師", 'https://www.crossfit.com/health/in-science-we-trust-or-do-we' %> 
 をはるかに超え、
 <%= link_to "不当な影響を与えているのです。", 'https://www.latimes.com/nation/la-122001fda-story.html' %> 


 
 <label for="mn-fda-read" class="margin-toggle">&#8853;</label> 
 <input type="checkbox" id="mn-fda-read" class="margin-toggle"/> 
 <span class="marginnote"> <b>参考資料 </b><br> 
 <%= link_to "THE NEW FDA: How a New Policy Led to Seven Deadly Drugs,  <cite> Los Angeles Times </cite>, Dec. 20, 2000", 'https://www.latimes.com/nation/la-122001fda-story.html' %> </span> </p> 
 </section> 
 
 
 <section> 
 <h2> リレンザとタミフルの承認 </h2> 
 
 <p> 
FDAは1999年初め、グラクソ・ウェルカム社の「リレンザ」（ザナミビル）を、諮問委員会が「リレンザの安全性と有効性は証明されていない」と判断し、インフルエンザの抗ウイルス剤として不採用にしました。
 

しかし、
 <%= link_to "グラクソ社の強い", 'https://www.latimes.com/nation/la-122001relenza-story.html' %>
要望により、
 <%= link_to "1999年7月にFDA（米国食品医薬品局）が承認", 
 'https://www.pbs.org/wgbh/pages/frontline/shows/prescription/interviews/elashoff.html' %> 
したのです。</p> 

 <p> 2000年1月12日、
 <%= link_to 'FDAが医師に対して異例の<q>公衆衛生勧告</q>を発表', 'https://www.citizen.org/article/letter-expressing-concern-with-recommendations-on-zanamivir-relenza/' %>しました。

 リレンザとタミフルのインフルエンザに対する役割は限定的であることを警告しましたが、
 それまでに7人のリレンザ患者が<q>呼吸機能の低下</q>で死亡しています。</p>
 
 <p>グラクソ・ウェルカム（現GSK）でさえ、リレンザの安全性に疑問を抱いているのは皮肉なことです。


 <label for="mn-relenza-read" class="margin-toggle">&#8853;</label> 
 <input type="checkbox" id="mn-relenza-read" class="margin-toggle"/> <span class="marginnote"> 参考資料: 
 <%=link_to "Fed decision backs GSK lawsuit, says Biota, Melissa Trudinger, Lab+Life Scientist magazine, 25 May 2004", 'https://www.labonline.com.au/content/life-scientist/news/fed-decision-backs-gsk-lawsuit-says-biota-1025504649' %> </span> 
 <blockquote> 
 <em> <p> 
 GSK社は、日本の規制当局が今年、相次ぐ死亡事故を受けて10代の若者への処方を
 控えるよう警告したタミフルを、リレンザよりも安全だと主張しています。
 
  </p> 
 <p> 
 
 「タミフルはリレンザとは異なり、気管支痙攣...喘息などの基礎的な気道疾患や心疾患、
 あるいは死亡のリスクに関する安全性の警告が義務付けられていませんでしたし、そうではありません。」
 と記述されています。BiotaはGSKの抗弁についてコメントしていません。
 
 </p> </em> 
 
 <footer> <%= link_to "It's germ warfare in $500m lawsuit, <em> The Age</em>, July 17, 2007", 
 'https://www.theage.com.au/business/its-germ-warfare-in-500m-lawsuit-20070717-ge5d6x.html' %> </footer> 
 </blockquote> </p> </section> 
 
 
 <section> <h2> エラスホフ博士、タミフルの審査を禁止される </h2> 
 
 
 <p> リレンザの臨床試験データの問題点を発見した生物統計学者は、ハーバード大学で
 博士号を取得したマイケル・エラソフ博士でした。
 彼はタミフルのデータを検証する予定でしたが、実現しませんでした。 </p> 
 
 <blockquote> <em> <b> <p> 
 諮問委員会の後、あなたに何が起こったのですか  </p></b>
 
  
 <p> 諮問委員会の翌日、FDAの経営陣数名から、
 この薬が諮問委員会で却下されたのは私のせいだと言われ、
 今後、他の薬の諮問委員会で発表することは許されないと言われました。
 </p> 
 
 <p> 当時、私はもうひとつのインフルエンザ治療薬であるタミフルのレビューを
 担当することになっていました。 
 そのレビューは私から取り上げられました。
 私がリレンザと同じレベルの審査をするのではないかと心配されたのでしょう。 
 そこで、他の人に任せることにしたのです。 
 
 </p> </em> 
 
 <footer> <%= link_to "<em>Interview with Michael Elashoff, Ph.D</em>, November 13, 2003", 
 'https://www.pbs.org/wgbh/pages/frontline/shows/prescription/interviews/elashoff.html' %> 
 
このインタビューはPBSシリーズ
 <%= link_to "危険な処方", 
 "https://www.pbs.org/wgbh/pages/frontline/shows/prescription/" %> 
 の一部です。
 
 </footer> </blockquote> 
 
 <p> <em> 
 エラスホフは審査の時点で、FDAの優先順位がすでに「この薬を承認すべきかどうか」から 

 
 <%= link_to "<q>この薬をどう承認するか？</q>", 
 'https://www.latimes.com/nation/la-122001fda-story.html' %> 
 に変わっていることに気づかなかったのです。
 
 </em> </p> </section>

