---
title: Going the wrong path
layout: tufte
prev_page: 巨大製薬と規制当局
prev_url: bigpharma-and-regulators.html
next_page: WHOと豚インフルパンデミック
next_url: who-and-swine-flu.html
nav_menu: true
---

# 過ちの道をたどる
<p class='subtitle'>
「新生活様式」に公に疑問を呈する理由 
</p>
<section>
<h2> 巨大製薬はWHOに食い込む</h2>

<figure>
 <label for="mn-us-opioid" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-us-opioid" class="margin-toggle"/>
  <span class="marginnote">
  From Statista, <em>
  <%= 
    link_to "U.S. Once Again Sees More Overdose Deaths",
    'https://www.statista.com/chart/18744/the-number-of-drug-overdose-deaths-in-the-us/'
  %>
  According to the article linked above, <q>opioid overdoses make up around 
  <%= 
    link_to "70 percent of all overdose deaths in the U.S",
    'https://www.cdc.gov/nchs/data/databriefs/db356_tables-508.pdf#page=3'
  %>
  </q>
  </em>
  </span>
  <%= 
  image_tag('images/views/usa_opioid_deaths.jpeg',
:width=>'90%', 'max-width' => '800px', 'min-width'=>'500px', :height=>'auto') %>
</figure>


<p>
  <label for="mn-who-read" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-smon-read" class="margin-toggle"/>
  <span class="marginnote">
    <b> Further reading </b><br>
    <%= 
    link_to "Who's funding WHO?,  <cite> BMJ </cite>, 2007, 334:338", 
'https://www.bmj.com/content/334/7589/338'
    %>
    <br>
    <br>
    <%= 
    link_to "Narcotic and psychotropic drugs  achieving balance in national opioids control policy  guidelines for assessment. World Health Organization",   
'https://apps.who.int/iris/handle/10665/66496' 
    %>
    <br>
    <br>
  </span>
</p>
<div class="epigraph">
  <blockquote>
    <p> 
2017年、複数の米国議会議員が手紙を送り 世界保健機関（WHO）に警告を発しました。
パデュー・ファーマL.P.（以下、パデュー社）が
米国のオピオイド危機を引き起こしたのと同じ不正なマーケティング手法を用いて 
国際市場に医薬品の販売を拡大しようとしていることを警告する書簡です。

パデュー社の事業拡大は、
世界規模のオピオイド危機を引き起こしかねないという懸念を表明しました。

<b>WHOがこの手紙に反応しなかったとき、我々は疑問に思い始めました。
なぜWHOはこのような重大かつ壊滅的な公衆衛生上のまん延に対して沈黙を守るのかと。
我々が見つけた答えは、深く憂慮すべきものでした。</b>
  </p> 
  <footer> 
  <%= 
  link_to "腐敗した影響力：パデューとWHO、危険なオピオイドメーカーのWHOでの影響を暴露する",
"https://katherineclark.house.gov/_cache/files/a/a/aaa7536a-6db3-4192-b943-364e7c599d10/818172D42793504DD9DFE64B77A77C0E.5.22.19-who-purdue-report-final.pdf"
 %>
          <cite>From the offices of representatives Katherine
Clark & Hal Rogers </cite> May 2019 
  </footer>
</blockquote>
</div>
<h3> <b>なぜWHOは沈黙を守ったのか？</b> </h3>

<p>
<b>WHOは沈黙を守っていた</b>。
2000年以降、WHOは多忙で、
「ガイダンス・ドキュメント」を作成していたからです。
つまり、
<blockquote>
<p>
オピオイドの入手を妨げる規制上の障壁を特定し、それを克服することで、
より良い疼痛管理を実現するよう各国政府に働きかけるものです。

<footer>
    <%= 
    link_to "Narcotic and psychotropic drugs  achieving balance in national opioids control policy  guidelines for assessment. World Health Organization",   
'https://apps.who.int/iris/handle/10665/66496' 
    %>
</footer>
</p>
</blockquote>
</p>
<p>
<cite>
言い換えれば、WHOは、
<%=
  link_to "オピオイドの処方を拡大するために、米国以外の医師に影響を与える、極めて重要かつ積極的で長期的な役割",
'https://ahrp.org/who-controls-the-who/'
%>
を担っているのです。
</cite>
</p>
<p>
<b>WHOが沈黙していた</b>のは、<em>1999年以降</em>、
<cite>患者支援団体</cite>を通じて大手製薬会社から資金提供を受け、
大手製薬会社と提携している団体の意見をガイドラインに反映させていたため、
報告書にオピオイド業界寄りのバイアスがかかっていたからです。

</p>


<figure>
  <label for="mn-who-purdue" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-who-purdue" class="margin-toggle"/>
  <span class="marginnote">
  From Clark and Rogers, <em>Corrupting influence: Purdue & the WHO: Exposing
dangerous opioid manufacturer influence at the World Health Organization</em>,
 Fig2 on page 14
   </span>
<%= image_tag('images/views/who-purdue.jpg',
:width=>'90%', 'max-width' => '800px', 'min-width'=>'500px', :height=>'auto') %>
</figure>

<p>
議会の報告書にはこう書かれています。
<blockquote>
<p>
<cite>

パデュー社（およびオピオイド業界全体）が米国で成功した秘訣のひとつは、
同社のマーケティング目標を推進する組織、人、研究に資金を提供する戦略であったことが
わかっています。<b>これらの同じアクターの多くがWHOの活動に直接関係していることを発見しました。</b>


</cite>
</p>
<footer>
  <%= 
  link_to "Corrupting influence: Purdue & the WHO, Exposing dangerous opioid
manufacturer influence at the World Health Organization",
"https://katherineclark.house.gov/_cache/files/a/a/aaa7536a-6db3-4192-b943-364e7c599d10/818172D42793504DD9DFE64B77A77C0E.5.22.19-who-purdue-report-final.pdf"
 %>
</footer>
</blockquote>
</p>
