---
title: Going the wrong path
layout: tufte
prev_page: "二つの都市の話"
prev_url: tale-of-two-cities.html
nav_menu: true
---

# 過ちの道をたどる
<p class='subtitle'>
「新生活様式」に公に疑問を呈する理由 
</p>


<section>
<h2> 最後に</h2>

<p>
<span class="newthought">私たちの多くは、民主主義、思想・表現の自由、個人の自由を経験してきた幸運な人間です</span>。
しかし、これらの貴重な宝物は、先人たちの賢明な努力によって私たちに与えられたものです。
彼らの多くは、この自由を得るために長い戦いを戦い、命を捧げた人もいます。
私たちには、この貴重な宝物を守り、後世に伝えていく義務があります。


</p>

<p>
この世に欲や権力欲が存在しないと考えるのは甘いでしょう。
私たちの民主主義と自由は、私たちが社会的な問題に積極的に参加することによってのみ維持されるのです。


</p>

<p>
用心するとは、疑問を持つことであり、懐疑的であることです。

少なくとも、多くの人に影響を与え、将来の世代に影響を与える可能性のある事柄についてはです。


</p>

<p>
世界がグローバル化している今、
民主主義と国民の幸福を維持するために、国民が積極的に政府を支持しなければ、政府は多くのことを行うことができません。

私たちの考えや声がなければ、どのような政府も、あらゆる側面から絶えず押し寄せてくる外部および内部からの圧力に立ち向かうことはできません。


</p>

<p> 
パンデミックの名の下に、世界で何が起こっているのかを批判的に検討してほしいと思います。
多くの人々は、既存の対策に従うしかありません。
小さな子供たちは、どんなに暑い日でも、どんなに新鮮な空気の屋外でも、親や先生からマスクの着用を求められます。


</p>

<p>
子供たちのためにも、お年寄りのためにも、せめて私たちができることは、質問を始めることです。
少なくとも、それができる私たちには、質問をする道義的責任があります。

</p>

<figure class="iframe-wrapper">
<iframe width="560" height="315" src="https://www.youtube.com/embed/Xb_JjiaWDAU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>

<p>
人前で質問できない人は、プライベートで頭の中で質問するだけでもいいのです。
</p>


</section>
