---
title: Going the wrong path
layout: tufte
prev_page: 新型ウイルス、危険な変異
prev_url: novel-viruses.html
next_page: 二つの都市の話
next_url: tale-of-two-cities.html
nav_menu: true
---

# 過ちの道をたどる
<p class='subtitle'>
「新生活様式」に公に疑問を呈する理由 
</p>


<section>
<h2> 新旧生活様式における死亡 </h2>

<p>
<span class="newthought">「パンデミック」とWHOが叫ぶ</span>と、
政府は検査を開始し、監視を強化し、疑いのある集団を強制的に隔離する以外に手段がありません。 
そして、WHOが<q>パンデミック</q>の終息を決定するまで、ショーは続くのです。


</p>

<p>
各国政府は2005年の国際保健規則によって手を縛られているため、
WHOに従う以外の手段はありません。
それが、HIV/AIDS、エボラ出血熱、SARS、H5N1、H1N1、MERS、ZIKAなどの頭文字をとった恐怖を
何十年にもわたって煽ってきたのです。

</p>


<p>
しかし、忘れてはならないのは、このWHOが、
2005年にチェルノブイリの犠牲者について無慈悲な嘘をついた組織であり、
2011年には子供たちに依存性の高いオピオイドを推奨した組織であるということです。
また、「豚インフルエンザ・パンデミック」では、
巨大製薬に数十億ドルの利益をもたらし、
何千人もの子供や若者、その家族に耐え難い苦痛を与えました。


</p>

<p>
<label for="mn-polio-india" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-polio-india" class="margin-toggle"/>
  <span class="marginnote">
<b> 参考資料</b>
<br>
<br>
  <%=
link_to "Dhiman et al., 2018, Correlation between Non-Polio Acute Flaccid Paralysis Rates with Pulse Polio Frequency in India, <cite> Int. J. Environ. Res. Public Health</cite>, 15(8), 1855,  https://doi.org/10.3390/ijerph15081755",
'https://www.mdpi.com/1660-4601/15/8/1755'
%>
<br>
<br>
  <%=
link_to "WHO plays down risk to Indian children from tainted polio vaccine, <cite>Reuters</cite>, October 2, 2018",
'https://www.reuters.com/article/us-india-health-polio-idUSKCN1MB3H1'
%>
<br>
<br>
<%= 
  link_to "T. J. John, D. Dharmapalan, 2019, The moral dilemma of the polio eradication programme, <cite>Indian Journal of Medical Ethics</cite>,DOI:10.20529/IJME.2019.060", 
"https://ijme.in/articles/the-moral-dilemma-of-the-polio-eradication-programme/?galley=html"
%>
<br>
<br>
<%= 
  link_to "Oral polio vaccine causing paralysis in kids: Study, <cite>The New Indian Express</cite>, 23rd October 2019",
'https://www.newindianexpress.com/nation/2019/oct/23/oral-polio-vaccine-causing-paralysis-in-kids-study-2051670.html'
%>
  </span>
忘れてはならないのは、このWHOが、<cite>不必要な</cite>ポリオワクチンの接種により、
インドの子供たちの間に麻痺の流行を引き起こしたことです。
 

<!--
https://www.bmj.com/content/365/bmj.l2343
https://www.nbcnews.com/news/us-news/un-agency-accused-helping-purdue-pharma-spread-opioid-epidemic-around-n1008956
https://www.theguardian.com/world/2009/oct/25/swine-flu-vaccines-profit
-->
</p>

<p>
私たちの政府には何の手段もありませんが、
私たちには子供たちや将来の世代に対する責任があり、
両親や国の高齢者に恩返しをする義務があります。

いたずらに<site>迷信</site>を広めるのではなく、事実を検証し、状況を客観的に理解し、
適切な行動をとることが、私たちの厳粛な義務です。


</p>

<p>
懐疑的であることが我々の厳粛な義務なのです。
私たちは事実を疑い、
2019年後半に新しい病気が突然私たちの地域に降り立ったかどうかを調査しなければなりません。

</p>
<p>
新たな致命的な伝染性の高い病気は、いくつかの点で際立っているはずです。
それは、異常な病気を引き起こすことかもしれませんし、
自然の流れでは影響を受けない多くの人々を殺すことかもしれません。
 
</p>

<p>
しかし、COVID-19は風邪であり、
インフルであり、
<label for="sn-blood-clots" class="margin-toggle sidenote-number">血栓</label>
<input type="checkbox" id="sn-blood-clots" class="margin-toggle"/><span class="sidenote">
<%=
  link_to 'White, Richard H. "The epidemiology of venous thromboembolism." <cite>Circulation</cite> 107.23_suppl_1 (2003): I-4.',
'https://www.ahajournals.org/doi/full/10.1161/01.CIR.0000078468.11849.66'
%>
</span> 
であり、
<label for="sn-pneumonia" class="margin-toggle sidenote-number">肺炎</label> 
<input type="checkbox" id="sn-pneumonia" class="margin-toggle"/> <span class="sidenote">
<%=
link_to 'Malin, Adam. "Review series: old age: pneumonia in old age." <cite>Chronic respiratory disease</cite> 8.3 (2011): 207-210.',
'https://journals.sagepub.com/doi/pdf/10.1177/1479972311415129'
%>
</span>
であり、
心臓発作であり、ガンであり、息切れであり、交通事故でさえあるのです。
つまり、常に人々に病気や死をもたらしている物なのです。
皮肉なことに、何でもないこともあります。
<cite>WHOによると、ほんの少しの症状も出ていないのにウイルスを保有している可能性があるそうです</cite>。


<!-- https://www.worldthrombosisday.org/news/post/know-thrombosis-recognizing-signs-symptoms-dangerous-blood-clots/ 
https://www.aier.org/article/the-censorship-of-dr-briand/
-->
</p>

<p>
懸念されるのは病気の定義の曖昧さだけではありません。
今のところ、世界の多くの国と同様に、日本においても、
人口の大部分を壊滅させるような致死的な病気の客観的な証拠はありません。
私が言っていることを真に理解するためには、日本で報告されている死亡者数を2020年以前、
つまり私たちの<cite>旧生活様式</cite>のあいだの死亡者数の文脈で考える必要があります。

</p>

<h3><cite>旧生活様式</cite>での死亡</h3>
<figure>
<label for="mn-jp-deaths" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-jp-deaths" class="margin-toggle"/>
  <span class="marginnote">
<b>図1:</b> 1978年1月以降の日本における死亡者数の月別推移。
ここ数十年の平均では、1日に約4000人が亡くなっている。
</span>
  <%= 
  image_tag('images/views/jpn_ts_deaths.png',
:width=>'90%', 'max-width' => '800px', 'min-width'=>'500px', :height=>'auto') %>
</figure>

<p> 
図1に示した死亡率のデータでは、時間とともに死亡者数が増加する傾向が強く見られます。
ある年の死亡者数がX人であれば、次の年はX+2万人の死亡者数になる可能性が高いのです。
この余分な2万人の死亡者は、2002年頃から毎年見られるようになりました。


</p>

<p>
他にも、2～3年周期など、興味深い現象が見られます。
また、2010年以降、冬の死亡者数が急に増加しているようです。

</p>

<p>
<figure>
<label for="mn-jp-leading" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-jp-leading" class="margin-toggle"/>
  <span class="marginnote">
<b>図2:</b> 近年の死因は、がん、心臓病、肺炎、老衰（認知症）によるものが上位を占めている。
2010年以降、老衰による死亡が急増しており、死亡の多くは病院や <%= 
link_to "介護施設",
'https://www.nature.com/articles/s41598-019-56388-w'
%>
で起きている。
<br>
<br>

<%=
link_to "Mitchell et al., (2009)",
'https://www.nejm.org/doi/full/10.1056/nejmoa0902234'
%>
によれば、
進行した認知症の人は、肺炎、周期的な発熱、摂食障害などの合併症で死亡する。

</span>
  <%= 
  image_tag('images/views/japan_leading.png',
:width=>'90%', 'max-width' => '800px', 'min-width'=>'500px', :height=>'auto') %>
</figure>
</p>
<p>
<label for="mn-dementia" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-dementia" class="margin-toggle"/>
  <span class="marginnote">
  
<b> 参考資料</b>
<br>
<br>
  <%=
link_to "Steeman et al., 2014, <q>Reversal of English trend towards hospital death in dementia: a population-based study of place of death and associated individual and regional factors, 2001–2010</q>, <cite>BMC Neurology</cite>",
'https://bmcneurol.biomedcentral.com/articles/10.1186/1471-2377-14-59'
%>
<br>
<br>
  <%=
link_to "Mitchell, Susan L., et al. <q>A national study of the location of death for older persons with dementia.</q> <cite>Journal of the American Geriatrics Society</cite> 53.2 (2005): 299-305.",
'https://d1wqtxts1xzle7.cloudfront.net/40078347/A_National_Study_of_the_Location_of_Deat20151116-4903-1v43ufd.pdf?1447707729=&response-content-disposition=inline%3B+filename%3DA_National_Study_of_the_Location_of_Deat.pdf&Expires=1616398852&Signature=GDqI2zhsghm7J0nGOfpu73UGMNZAmlevwWInDI4qlchITnzPcHK1NhhsNyPnUOWCviV2JPDf6IzY2NaupUcZgCcw1Mm1Ck-nO3gSvPyqKHLtdmTykdkmlIvlo7XXxi8Bn~p3hDfNDjwY9tH27oMTPsFdE2bpJnhYJxK6iwvkZo92qoxLvBrTNs8MTi4~dd6nbqC3KuuWe5qYA4DNsHwUW4y~q~~Q5XO8rjk94C-Y8XiUvqzpgv06ha7cPpZi7KdkaxLSb-t3oOdQ~t2I0lCQ-jBwRU8mjXUI6d52jzLk3yoHNG4zE2OKtN5R2JA0pEjm2ErpMHfNjt66yXhefZcMSA__&Key-Pair-Id=APKAJLOHF5GGSLRBV4ZA'
%>
<br>
<br>
<%= 
link_to "Houttekier, Dirk, et al. <q>Place of death of older persons with dementia. A study in five European countries.</q> <cite>Journal of the American Geriatrics Society</cite> 58.4 (2010): 751-756.",
'https://agsjournals.onlinelibrary.wiley.com/doi/full/10.1111/j.1532-5415.2010.02771.x'
%>
<br>
</span>

多くの先進国と同様に、日本でも毎年発生する追加死亡の大部分は
老衰（認知症、上記<b>図2</b>の黒い曲線）によるものです。
毎年、前年に比べて1万人以上の人が認知症で亡くなっています。

その多くは、重度の機能障害や認知障害のために、
介護施設での特別なケアを必要としています。
重度の機能障害や認知障害、攻撃性などの行動障害が増加するため、
ほとんどの方が老人ホームでの特別なケアを必要としています。



</p>
<h3><cite>新生活様式</cite>での死因</h3>
<p>

2020年、もし本当に致死的な病気があったとしたら、
死亡統計が圧倒的に変化することが見れるはずです。

例えば、老衰で亡くなるのは珍しくありませんが、
若年層に予期せぬ死が起こるのは珍しいことです。
また、高齢者が突然大量に亡くなるのも珍しいことです。


</p>
<p>
日本では、2021年3月20日時点で、PCR検査が陽性に関連する8,810人の死亡例が報告されています。

この数字を見ると多いと感じるかもしれませんが、そんなことはありません。
日本では1日に約3000～5000人が死亡しています。


</p>

<figure>
<label for="mn-jp-2020" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-jp-2020" class="margin-toggle"/>
  <span class="marginnote">
  <b>Fig. 3:</b> Deaths in 2019 (black line, data for Jan&ndash;Dec), compared to a preliminary
 estimate of deaths in 2020 (blue line, data only for Jan&ndash;Sep).
 </span>
<%= image_tag('/images/views/jpn_deaths_19_20.png',
:width=>'90%', 'max-width' => '800px', 'min-width'=>'500px', :height=>'auto') %>
</figure>

<p>
この印象的でも無い変化は、図3を通してみるとわかるのです、
2019年に比べて2020年には死亡者数が少し減っているのです。
しかし、図1に見られるように、死亡者数は毎年2万人ずつ増加しており、
およそ毎月1500人ほど増加していると考えるべきです。

2020年の死亡者数が例年に比べて予想よりもはるかに低いというのは、異常では無いでしょうか。


</p>

<p>
また、他の国と同様に、平均寿命を過ぎた人の死亡が大半を占めています。
日本では、8810人の死亡者のうち、約5000人が80歳以上の高齢者でした。


</p>

<p>
もしかしたら、2020年に日本の人々が殺人ウイルスに感染しないように細心の注意を
払っていたからだと思われるかもしれません。
これはありそうもないでしょう。
なぜなら、他の国では全く異なるアプローチをとっていても、同じような結果になっているからです。

</p>
</section>

