---
title: Going the wrong path
layout: tufte
prev_page: 常識に立ち戻る
prev_url: /en/views/return-to-common-sense.html
next_page: 新型ウイルス
next_url: /en/views/novel-viruses.html
nav_menu: true
---
# 過ちの道をたどる
<p class='subtitle'>
「新生活様式」に公に疑問を呈する理由 
</p>

<section>
<h2> 物語の問題点 </h2>

<p>
私が皆さんに考えていただきたいこととしては、
<span class="newthought">単純な事実、平易な議論、そして常識
</span>です。
皆さんが偏見を持たずに耳を傾け、自分の理性が判断することを望みます。
</p>

<p>
疑問を持たないことの代償として、大規模な
<em>
<%=
link_to '人間の医療実験',
'/views/docs/EMA_FDA_Petition.pdf'
%>
</em>


を黙認することになるからです。
</p>

<h3> マスクについて、そして伝染について</h3>

<p>
まずは、緊急課題であるマスクからです。
</p>

<p>
私の経験では、マスクの一番の利点は、インフルエンザや風邪で体調を崩したときに、
マスクがとても役に立ったことです。
寒くて乾いた風が鼻孔や喉を痛め、咳をするとき、マスクは即座に私を守ってくれます。
気持ちも楽になるし、何よりも回復が早くなります。

</p>

<p>
また、2011年初頭に起きた核爆発の数ヶ月後には、子供たちにマスクを着用させました。

</p>

<p>
福島の東海岸にある発電所からの放射性物質を含んだ粉塵を、
彼らの肺の中に入れないようにしたいと切に願っていました。
マスコミや政府の専門家、政府機関、閣僚たちは皆、
この状況を心配する必要はないと断言していたのですが、私はそうしたのです。


</p>

<p>
<cite>
2005年にWHOが発表したチェルノブイリ原発の爆発事故に関する権威ある報告書を読んでいたら、
もっと安心できたかもしれないし、
爆発事故による
<%= 
  link_to "死者が50人以下",
  'https://www.researchgate.net/publication/278732482_Who_Is_Afraid_of_Volume_1181_of_the_New_York_Academy_of_Sciences_Under_Threat_the_Nuclear_Establishment_Plays_Dirty'
%>
であったことも知っていたでしょう。


</cite>
</p>

<p>
WHOはマスクの使用について、パンデミックの原因となるウイルス群
（ウイルス群と言う理由は、COVID-19のPCRテストが複数あるので、
ウイルスの亜種が複数あることを意味するからです）
から自分だけでなく他の人も守ることができると主張しています。

とまあれ、大前提として、風邪やインフルエンザなどの呼吸器系の病気は、
咳や呼吸によって人から人へ伝染するものです。


</p>

<h3> 1918年スペイン風邪の伝染性を証明するための試み</h3>

<p>
  <blockquote>
  <p>
  10名のボランティアが急性インフルエンザ患者に曝露されました。
  病院の病棟で それぞれのボランティアは 握手をして、5分間おしゃべりをした後、
  患者の息を吸うときに顔に5回も息をかけられました。
  5分間談笑した後、患者の息を顔面に5回吸ってもらいました。
  
  最後に患者が直接顔に向かって5回咳をしました。
  これを各ボランティアがそれぞれ、10人の異なる患者にこれを行いました。
  全員が3日以内の急性疾患の患者です。
  
  これら患者はすべて、典型的な急性疾患で、病気の焦点や発生源から選ばれたものです。
  ボランティアは誰も病気を発症しなかったのです。

  <footer>
  <%=
  link_to 'Rosenau, Milton J. "Experiments to determine mode of spread of influenza." <cite>Journal of the American Medical Association</cite> <b>73.5</b> (1919): 311-313.',
  'https://quod.lib.umich.edu/f/flu/3750flu.0016.573'
  %>
  </footer>
  </p>
<!-- Improve the reference citations, when time permits -->
  </blockquote>
  <label for="mn-spain-flu" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-spain-flu" class="margin-toggle"/>
    <span class="marginnote">
     <b> Further reading </b><br>
    <%=
      link_to "Some Interesting Though Unsuccessful Attempts to Transmit Influenza Experimentally",
     'https://www.jstor.org/stable/4574984?seq=1#metadata_info_tab_contents'
    %>
    <br>
    <%=
      link_to "The State of Science, Microbiology, and Vaccines Circa 1918",
      'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2862332/'
    %>
    <%=
      link_to "Kissing and the Common Cold",
      'https://www.improbable.com/2010/02/09/kissing-and-the-common-cold/'
    %>
    <br>
   </span>
</p>
<p>
上の実験は、スペイン風邪が世界的に流行していた時期に行われました。
伝えられるところによれば、スペイン風邪のウイルスは、
近代において世界が知っていたウイルスの中で最も悪性で感染力が強く、

世界人口の3分の1が感染し、5000万人の死者を出したと言われています。
<em>この実験はいまだに反証されていないのです</em>。

</p>
<p>
私の理解では、宗教とは異なる科学は、不変の信念の集合体ではなく、
主に科学的手法に従った実験的な探求によって得られる知識の集合体です。
我々の多くは、この実験の妥当性を受け入れることは困難です。
これは我々の直感に反するからです。

<em>
<%= link_to "量子力学",'https://www.azquotes.com/author/4774-Richard_P_Feynman/tag/quantum-mechanics' %></em>
の考え方も同様なのですが、
自然に対する量子力学的な理解を裏付ける実験的な証拠は説得力があります。


</p>


<p>
<cite>
では、WHOが「健康な人がウイルスを保有し、拡散している」と実際に伝えている場合、それを鵜呑みにしていいのでしょうか？

</cite>
</p>

</section>

