---
title: Going the wrong path
layout: tufte
prev_page: COVIDストーリーの非一貫性
prev_url: inconsistencies-in-covid-story.html
next_page: 死亡統計
next_url: death-profile.html
nav_menu: true
---


# 過ちの道をたどる
<p class='subtitle'>
「新生活様式」に公に疑問を呈する理由 
</p>

<section>

<h2> 新型ウイルス、危険な変異</h2>
<p>
パンデミックを予感させる恐怖演出の主役は、<span class="newthought">新たな、あるいは変異したウイルス</span>です。

</p>

<p>
1957年のアジア風邪の時もそうでした。Shopeが

<label for="sn-snope-declared" class="margin-toggle sidenote-number"> </label>
<input type="checkbox" id="sn-snope-declared" class="margin-toggle"/>
<span class="sidenote"> pg. 166 of R. E. Shope, <cite>Influenza: History, Epidemiology, and Speculation</cite>, The RE Dyer lecture." Public health reports 73.2 (1958): 165.
</span>

<q> ... 世界はこれまでほとんど経験したことのないウイルスにさらされている</q>と宣言したのです。

</p>

<p>
1976年の
<%= 
  link_to "<cite>豚インフルエンザ事件</cite>",
'https://www.bmj.com/content/331/7527/1276.1.full'
%>
もそうでした。
<label for="sn-swine-1976" class="margin-toggle sidenote-number"> </label>
<input type="checkbox" id="sn-swine-1976" class="margin-toggle"/>
<span class="sidenote"> 
R. E. Neustadt, H. V. Fineberg, 
<%= 
link_to "<cite>The Swine Flu Affair: Decision-Making on a Slippery Disease</cite>,",
'https://pubmed.ncbi.nlm.nih.gov/25032342/'
%> 
National Academies Press, 1978 
</span>

そして
<%=
  link_to "2005年の鳥インフルエンザの恐怖",
  'https://web.archive.org/web/20130829180648/https://www.theguardian.com/world/2005/sep/30/birdflu.jamessturcke'
%>
です。

これが
<%=
  link_to "2009年にも繰り返されました",
  'https://www.who.int/mediacentre/news/statements/2009/h1n1_pandemic_phase6_20090611/en/'
%>が、
我々はそのパターンにほとんど気づかず、何度も繰り返し襲ってくるのです。

</p>

<p>
<label for="mn-flu-scares" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-flu-scares" class="margin-toggle"/>
    <span class="marginnote">
     <b> 参考資料 </b><br>
      <%= link_to 'High Court settlement for teenager over swine flu vaccine,
<cite>RTE</cite>,4 Nov 2020',
'https://www.rte.ie/news/courts/2020/1104/1175953-vaccine-case/'
%>
<br>
      <%= link_to 'Bird flu <q> could kill 150 million people</q>, <em> BBC News</em>, 30 September, 2005', 
'http://news.bbc.co.uk/2/hi/asia-pacific/4292426.stm'
%>
<br>
   <%=
    link_to 'Swine Flu Scare, <em>The New York Times</em>, July 3, 1976',
    'https://www.nytimes.com/1976/07/03/archives/swine-flu-scare.html'
   %>
<br>
</span>
</p>

<p>
しかし、

<%=
link_to "地球上には10の31乗個以上のウイルス",
'https://www.nature.com/articles/nrmicro2644'
%>

が存在し、小さじ1杯の土に含まれる微生物の数は、アフリカ大陸に生息する人間の数と同じなのです。

</p>

<p>
では、これらの<cite>新型ウイルスや変異ウイルスについて、誰が新型であると判断するのでしょうか</cite>。

</p>

<p>
既存のウイルスやその株のことを知り尽くしているからこそ、新規性があると考えるのでしょうか。
ウイルスの数が多いことを考えると、その可能性は低いのではないでしょうか。

</p>

<p>
本当の答えは、「新型とみなされる」ということです。
彼らにとっては新型であっても、
地球上に住む何十億人もの人間の生理機能にとってはそうではないかもしれません。


</p>

<p>
<cite>

あたかも
<%= 
  link_to "アメリゴ・ヴェスプッチあるいはクリストファー・コロンブス",
'https://religionunplugged.com/news/2020/6/25/fourth-of-july-toppling-statues-highlights-the-forgotten-legacy-of-amerigo-vespucci'
%>
が足を踏み入れる前の<em>新大陸</em>の存在が、
その発見によって否定されるかのようにです。

</cite>
</p>

</section>
