---
title: Return to common sense
layout: tufte
prev_page: WHOと豚インフル
prev_url: who-and-swine-flu.html
next_page: COVIDストーリーの非一貫性
next_url: inconsistencies-in-covid-story.html
nav_menu: true
---
# 過ちの道をたどる
<p class='subtitle'>
「新生活様式」に公に疑問を呈する理由 
</p>



<section>

<h2> 常識に立ち戻る </h2>

<p>
巨大製薬が大きな力を発揮する時代になりました。
これは、甚大な被害をもたらす可能性があるのです。

</p>


<p>
今日では、WHOがその資金援助の大部分（68％）を民間企業から受けているという、とんでもない状況になっています。
その資金は、民間の寄付者が公衆衛生問題の最優先事項と考えているもの以外には使用できません。

</p>

<p>
主要出資者の二つですが、
ビル＆メリンダ・ゲイツ財団（BMGF）と、GAVIワクチンアライアンス
（BMGFがスポンサー）であり、WHOに4億6,000万米ドルを提供しています。
その一方で、最も裕福な加盟国は 

<%=
link_to "2019年に<cite>分担金</cite>として1億2000万米ドルのみ",
'https://www.who.int/about/finances-accountability/funding/2018-19_AC_Summary.pdf' %>
なのです。


（平たく言えば、<cite>分担金</cite>とは、<cite>ひも付きでない貢献</cite>です。）
</p>

<p>
皮肉なことに、WHOの最大の寄付者であるBMGFとGAVIは、
ジャンクフード産業やビッグ・ファーマへの投資から収入の大部分を得ているにもかかわらず、
「グローバル・ヘルス・フィラントロカピタリズム（世界資本主義）」を唱えています。



  <label for="mn-who-fund" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-who-fund" class="margin-toggle"/>
  <span class="marginnote">
    <b> Further reading </b><br>
    <%= 
      link_to "Global Health Philanthropy and Institutional Relationships: How Should Conflicts of Interest Be Addressed? David Stuckler ,Sanjay Basu,Martin McKee Published: April 12, 2011",
'https://doi.org/10.1371/journal.pmed.1001020'
    %>
   </span>
</p>

<p>
現代は危険な時代です。
非常に危険なウイルスが潜んでいて、時間とともに変異して危険な形になっていき、
新型ワクチンが唯一の出口だと毎日言われているからです。

</p>

<p>
しかし、経験は様々なことを教えてくれます。
  <ol>
     <li> パンデミックをめぐる恐怖政治に迎合する著名な科学者が必ず見つかるはずです。
  <%= image_tag('/images/views/birdflu2005march.jpg',
:width=>'90%', 'max-width' => '800px', 'min-width'=>'500px', 
:height=>'auto') %>
    </li>
  <li>
   パンデミックは、人口の大部分に未検証の医療介入を行う機会となります。

  </li>
  <li>
  優生学プログラムのような残虐行為は過去にもありましたが、これらは当時の著名な科学者が支援し、あるいは主導していました。

  </li>
  </ol>
</p>

<h2> 若者の健康と未来を危険にさらす必要があるのか？ </h2>

<p>
日本は高齢化社会であるため、なおのこと若者は貴重な存在です。
</p>

<p>
少なくとも次の世代のためには、この状況を問い直すことが我々の義務なのです。
科学的な論文や研究を行っても、それが客観的で偏りのないものでなければ意味がありません。
我々の役に立つのは、我々の常識だけです。手遅れになる前に、それを行使しましょう。

</p>

</section>
