---
title: Going the wrong path
layout: tufte
prev_page: 「新生活様式」に公に疑問を呈する理由 
prev_url: why-i-question-the-new-normal.html
next_page: スモン、巨大製薬、科学者
next_url: smon-bigpharma-scientists.html
nav_menu: true
---

# 過ちの道をたどる
<p class='subtitle'>
「新生活様式」に公に疑問を呈する理由 
</p>



<section>
  <h2> 科学と科学者 </h2>
<p>
科学的手法を用いて収集した知識の体系である「科学」が、
人類の最も貴重な財産であることは、

<span class="newthought">誰もが認めるところです。</span>
</p>

<p>
しかし、「科学を信じろ！」は「科学者を信じろ！」という意味ではありません。
科学者も他の人間と同じように良い人も悪い人もいます。
科学者は
時にはミスを犯し、それが他の人類にとって大きな代償となることもあります。

</p>

<p>
時には権力者や団体に操られて、
恐ろしいことをするように仕向けられることもあります。忘れてはならない例としては、

<%= link_to "多くの著名な科学者が優生学運動に参加した", 'http://historynewsnetwork.org/article/1796'%>
ことがあります。
</p>

<p>

科学者がミスを犯し、10年半にもわたって研究を続けてきた日本の事例を紹介しましょう。
15年の間、一般の人々に深刻な影響を与え続けたものです。

</p>
</section>

<section>
<h3>  日本におけるスモン病の流行 (1958&ndash;1973)  </h3>

<figure class="iframe-wrapper">
<iframe width="560" height="315" src="https://www.youtube.com/embed/V1PI72aRdL4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>

<p>
1958年、恐ろしい伝染病が日本を襲いました。

  <label for="mn-smon-f1" class="margin-toggle">&#8853;</label>
    
  <input type="checkbox" id="mn-smon-f1" class="margin-toggle"/>
    <span class="marginnote">
      <%=image_tag("images/views/smon_victim1.jpg") %>

<b>キノシタ・ミチコ</b>は45歳の時、<b>1966年1月</b>に下痢を発症し、<em>クリオキノール</em>が処方された。

その5ヶ月後、両足がしびれるようになった。スモンの初期症状の一つである。

その結果、夫が仕事をやめて彼女の世話をした。

チバ・ガイギー社は、
<b>1979年</b>に18万4800ドルの和解金と、月々184ドルの介護費を支払った。


<br>
    </span>
    
    
これは、Subacute Myelo-Optico-Neuropathy (SMON) です。

犠牲者の5&ndash;10%が死亡しましたが、生き残った人の中には、多くが一生半身不随になり、
多くが失明し、残りは神経障害による慢性的な痛みを抱えました。

子供たちは助かりましたが、
特に慢性疾患を持つ高齢者が被害を受けました。

東京オリンピックが開催されましたが、流行の拡大を防ぐ方法や治療法は誰にもわかりませんでした。

</p>


<p>
科学者たちは、この病気が感染症であると考えました。

  <label for="mn-smon-f1" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-smon-f1" class="margin-toggle"/>
    <span class="marginnote">
      <%=image_tag("images/views/smon_victim2.jpg") %>
<b>ヤマグチ・ケイコ</b>が21歳のとき、<b>1967年2月</b>に下痢止めとして<em>クリオキノール</em>を処方された。
すぐにスモン症状が出て、その後も症状が続き、ますます<b>クリオキノール</b>を処方された。
1968年末には完全に目が見えなくなり、麻痺していた。
<b>1980年</b>にチバ・ガイギー社は199,263ドルの賠償金と月617ドルの介護費用を支払った。


<br>
        Source:
      <%= link_to "The Devil's Alternative, <em> New Internationalist </em>, <b> 95</b>, 1 January 1981", 
'https://newint.org/features/1981/01/01/devils/' %>
<br>
<br>
    </span>
    
突然現れたこと、特定の市や町を中心としたクラスターや、家族内のクラスターが発見されたことからです。 
病気が晩夏にピークを迎えたことから、虫を媒介にして広がったと考えられました。

また、
病院を中心に発生しており 
医療従事者のスモンの発生率が高かったのです。


<label for="sn-duesberg" class="margin-toggle sidenote-number"></label>
  <input type="checkbox" id="sn-duesberg" class="margin-toggle"/>
    <span class="sidenote">
      Pages 11&ndash;27 from Prof. Peter Duesberg's <%= link_to "Inventing the AIDS Virus", 'https://www.researchgate.net/publication/261948355_Inventing_the_AIDS_Virus' %>
     <br>
     </span>
</p>

<p>
日本では、流行の原因を解明するための研究が盛んに行われました。

科学者の間では、伝染病説が強く支持されていました。
それから15年の歳月を経て
科学者たちは
次々と<b>「新種」のウイルス</b>を分離していったのです。

しかし、独立研究者たちによって、その主張は否定されました。
ウイルス狩りが続く間に、患者数はどんどん増え、死亡者数も増えていきました。


</p>


<p>
そして1970年、ついに流行の真の原因が判明したのです。
それは、チバ・ガイギー社が製造した下痢止めの処方薬<em>「クリオキノール」</em>だったのです。

皮肉なことに
「クリオキノール」自体がスモンの治療薬として使われていたのです。

</p>

<p>
<label for="mn-smon-read" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-smon-read" class="margin-toggle"/>
    <span class="marginnote">
     <b> Further reading </b><br>
      <%= link_to 'A Japanese Tragedy,  <em> The Washington Post </em>, March 18, 1979', 
'https://www.washingtonpost.com/archive/politics/1979/03/18/a-japanese-tragedy/69e1c239-834a-4559-8659-b36c26443798/'
       %><br>
      <%= link_to "R. Kono, 1975, The S.M.O.N. Virus Theory, <em> Lancet </em>, <b> 306 </b>, pp 370-371", 
'https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(75)92818-4/fulltext'
       %><br>
      <%= link_to "The Devil's Alternative, <em> New Internationalist </em>, <b> 95</b>, 1 January 1981", 
'https://newint.org/features/1981/01/01/devils/'
       %><br>
     </span>
    </p>

<blockquote>
 <p> <em>
 スモンが感染症であるかのような幻覚は抑え難かったのです。


腹部の不調や下痢の患者に治療のためにクリオキノールを投与すると、スモンを発症しました。


家族や医師、看護師は「自分の身を守ってくれる」と思って薬を飲んでしまい、
結果的に自分が恐れていた病気を作り出してしまったのです。

その結果、集団感染が発生し、スモンはあたかも伝染病のようになってしまったのです。
スモンの治療薬と思われていたものが、実は原因だったのです。


</em> </p> 
<footer>
<%= link_to "<b>When a Medical 'Cure' Makes Things Much, Much Worse</b>, by
Jeanne Lenzer, <em> Smithsonian Magazine </em>, January 2, 2018",
'https://www.smithsonianmag.com/science-nature/when-cure-is-cause-180967666/'
%>
</footer>
</blockquote>
</section>
