---
title: Going the wrong path
layout: tufte
prev_page: スモン、巨大製薬、科学者
prev_url: smon-bigpharma-scientists.html
next_page: 立ち止まる時
next_url: time-for-pause.html
nav_menu: true
---

# 過ちの道をたどる
<p class='subtitle'>
「新生活様式」に公に疑問を呈する理由 
</p>


<section>
<h2> COVID時代の製薬と科学者 </h2>

<p>
ここ数十年、医療や公衆衛生の分野での科学的研究は、巨大製薬からの新たな挑戦に直面しています。
<em>
スモンの時代には、巨大製薬が主流の学術研究者に大きな影響を与えることはありませんでした。</em>
<b>残念なことに、これはもはやそうではないのです。</b>

</p>

<h3> タミフル、巨大製薬、<%= link_to 'BMJによる調査',
'https://www.bmj.com/tamiflu' %> </h3>

<blockquote>
<p>
<em>
南北戦争中、瀕死のロバ、欠陥のあるマスケット、おがくずの入った弾丸を政府に届けて
FCA（虚偽請求取締法）に違反したように、
<b>
ロシュ社は、政府が交渉して支払ったパンデミックの目的を達成できないパンデミック用医薬品を政府に販売し、
FCAに違反しました。
</b>
<q>FCAは、国庫を四方八方から取り囲む飢えた不誠実な連中から守ることを目的としています。</q>
<b>ここでの事実としては、
パンデミック用のタミフルのために、
米国および各州政府に14億ドル以上を費やすように仕向けた、信じられないほど腹黒い製薬会社を示しているのです。
</b>


</em>
</p>
<footer>
<%= link_to "United States et al ex rel Thomas Jefferson v Roche Holdings et al. Case
14-cv-03665-GLR. US District Court for the District of Maryland. Filed 3 Sep 2019, unsealed Jan 2020.", 
'https://www.halunenlaw.com/wp-content/uploads/2020/01/2019-09-03-Jefferson-AMENDED-COMPLAINT-Filed-Under-Seal.pdf'
%>
</footer>
</blockquote>

<p> 
これは、ラニエール法律事務所が、2019年9月に提出した訴訟の冒頭部分で、


コクラン共同計画の
<%= link_to 'ドクター・トーマス・ジェファソン', 
'https://ebm.bmj.com/content/23/2/46' %> 
になりかわって、ホフマン・ラ・ロシュ社及びジェネンテック社に対して行われたものです。

</p>

<p>
ここには、
ロシュ社が、薬には効果が無いことを知りながら、
効果を示すための<q>科学的研究</q>を用意し、
効果のない製品を巧みに販売して利益を得たという主張がありました。
</p>

<p>
これらのいわゆる<q>科学的研究</q>に対して、
最初に日本の小児科医であるハヤシ・ケイジ博士が
<%= link_to '疑問を投げかけました', 
"http://www.hayashi-shonika.jp/images/Jefferson_Hayashi's%20problem.pdf" %> 。


彼はコクラン共同計画に書面で報告しました、
タミフルがインフルエンザ関連の合併症を減らすのに高い効果があるという以前の評価は、
ほとんどが産業界から資金提供を受けた研究データによって支えられていたことをです。

</p>

<p>

その後、コクラン共同計画では、
医学誌において最も好意的で影響力のある報告をした科学者たちに対して
その研究データを求めました。

<em>ランセット誌</em>、<em>アーカイブス・オブ・インターナル・メディシン誌</em>、
<em>米医学界ジャーナル(JAMA)</em>です。


この試みにおいて、コクラン・チームの前に生じた主要な課題は
 <%= link_to 'BMJ調査', 
'https://www.bmj.com/bmj/section-pdf/186422?path=/bmj/339/7734/Feature.full.pdf'%>
で報告されています。

この調査での主要な発見はショッキングなものでした。
  <ol>
    <li> ロシュは、これらの科学出版物に複数の方法で影響を与えていました。 </li>
     <ul>
       <li> ロシュ社の従業員を共著者として含むことや </li>
       <li> 出版物に関わった主な科学者に報酬を様々な方法で支払うことや
             </li> 
       <li> プロの出版サービスを雇い、科学的な裏付けがないにもかかわらず、
       タミフルを支持するメッセージを出したことです。</li>
     </ul>
   <li>  さらに、タミフルに関するロシュ社の主張を支持する論文を書いた科学者たちは、
自分たちでは臨床試験のデータを分析せず、
ロシュ社が論文のためにデータをまとめ、処理し、分析することを疑問も持たずに許していました。
</li>
  </ol>
</p>

<p> <em> 注目すべきは、ある科学論文が発表されたわずか三日後に、タミフルが
タミフルが（米国の）戦略的国家備蓄のための承認薬リストに追加されたことです。
</em>
</p>

</section>


<section>
<h2>  スモンからディオバン<sup>&reg;</sup>へ</h2>
<p>
<%= link_to "最近の日本でのスキャンダル", 
'https://www.forbes.com/sites/larryhusten/2014/09/11/japanese-research-scandal-involving-novartis-blood-pressure-drug-widens/' %> 

は、
いかなる国の科学的信頼性も
巨大製薬の悪質な影響を免れることはできないことを痛感させられることです。
</p>
<figure class="iframe-wrapper">
<iframe width="560" height="315" src="https://www.youtube.com/embed/fqV15C0J-xU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>

<blockquote>
  <p><em>
  
ノバルティスファーマ株式会社（以下、NPKK）の降圧剤バルサルタン（以下、ディオバン）
に関する医師主導治験において、データ操作が行われ、
これが、日本の科学界の健全性が損なわれました。


ランセット誌に掲載されたJikei Heart Studyなどの論文にNPKKの社員が関わっていました。 


さらに、研究チームは、同社から11億円以上の無制限の助成金を受け取っています。

また、「ランセット誌」を発行するグローバル出版社グループであるエルゼビア・ジャパン株式会社が
プロモーション戦略に参加していたのです。


ディオバン NPKKは、これらの良好な臨床試験を利用してマーケティングおよびプロモーション活動を行ったのです。

 その結果、「ディオバン」は同社の主力製品となりました。
日本での「ディオバン」の売上は年間1,000億円を超えています。
我々は、研究者、製薬会社、医学雑誌の依存関係の輪に批判的な目を向けなければなりません。



 </em> </p> 
<footer>
<%= link_to "<b>Valsartan（Diovan®）臨床試験疑惑:報道からの考察</b>, by
河内敏康、八田浩輔、毎日新聞科学環境部<em>臨床評価</em>, 2014: 41:789-97",
'http://cont.o.oo7.jp/41_4/ab-p789.pdf'
%>
</footer>
</blockquote>

<!--
<p>
<em>
It is worth noting that Ciba-Geigy merged with Sandoz in 1996 to create
<%= link_to "Novartis.", 'https://www.novartis.com/our-company' %>
</em>
</p>
-->
