---
title: Going the wrong path
layout: tufte
prev_page: 科学と科学者
prev_url: science-and-scientists.html
next_page: スモンからディオバン<sup>&reg;</sup>へ
next_url: smon-to-diovan.html
nav_menu: true
---


# 過ちの道をたどる
<p class='subtitle'>
「新生活様式」に公に疑問を呈する理由 
</p>


<section>
  <h2> スモン、巨大製薬、科学者  </h2>

<p>
<span class="newthought"> 
製薬会社による同様の倫理的不祥事は
<%= link_to "これまでも", 'https://www.smithsonianmag.com/science-nature/woman-who-stood-between-america-and-epidemic-birth-defects-180963165/' %>、そして
<%= link_to "これからも", 'https://childrenshealthdefense.org/news/sackler-family-purdue-pharma-opioid-crisis/' %> 
ありますが、私がスモンにスポットを当てた</span>のは、様々な理由があります。
</p>

<p>
私はCOVID-19が誤診のケースであると言うつもりはありません。
そうかもしれませんが、詳細な臨床検査と検死がなければわからないでしょう。
</p>

<p>
そうではなく、私がスモンの話を選んだのは、現在の危機的状況の中で、
2つの重要なプレーヤーに焦点を当てたいからです。
巨大製薬企業（これ以降は巨大製薬とする）と科学界です。
</p>
</section>

<section>
<h3> 巨大製薬とスモン</h3>

<p>
 <label for="mn-smon-1935" class="margin-toggle">&#8853;</label>
    <input type="checkbox" id="mn-smon-1935" class="margin-toggle"/>
    <span class="marginnote">
      <%= link_to 'Katahira, Kiyohiko. "SMON Reported in 1935 in Argentina." JAMA 239.26 (1978): 2757-2757', "/refs/views/katahira_1978.pdf" %>
    </span>
そもそもスモンが起きたのは、巨大製薬であるチバガイギーが、
日本の薬事規制当局に安全性について誤解を与えたことが原因です。
</p>

<p>
チバガイギー社は、この薬を
子供にさえ安全で効果的であり、永久的な副作用がないと宣伝しました。

彼らは、

<%= link_to "1935年の時点で、クリオキノールによる神経障害が発生していたことを隠していたのです。",
'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1547532/pdf/bmjcred00546-0091b.pdf' %> 
これは、1944年にクリオキノールの発明者自身が、1965年にはスウェーデンの医師が報告していることです。

</p>


<p>

チバガイギー社の虚偽のマーケティング活動の結果、日本では
投与量や投与期間の制限なく、あらゆる種類の腹部疾患に使用することができました。

注目すべきなのは、
チバガイギー社がスモンの悲劇への関与を認めた後も、
世界的にこの薬を市場から排除するのに4年を要したことです。


</p>
</section>



<section>
<h3> 科学者とスモン </h3>

<p>

スモンの要因としてクリオキノールが疑われる理由は、
1967年の「国立病院スモン研究会」の時点で十分にありました。

「国立病院スモンに関する研究会」が
スモン患者に処方された薬についての報告を行ったときです。

しかし、あまりにも多くの医師や研究者が、「医原性疾患」の可能性を拒否しました。

</p>

<p>
SMONを研究していた科学者たちは、なぜ15年間もウイルスだけに注目していたのでしょうか？

</p>


<p>
ポリオとの戦いの結果、ウイルス学には多くの資金が投入されました。

多くの科学者や大学の学部が関与し、ウイルス学の研究から発表されたデータの量も
他の研究をはるかに超えていました。

当然のことながら、科学界は
スモンの原因はウイルスであると考えるようになりました。


</p>



<p>

スモンの流行が終わったのは、コウノ・レイサク教授をはじめとする日本の科学者が
知恵を絞り、
非ウイルス性の研究に資源を投入し、
そして、他の研究者が見つけた答えに耳を傾けたからです。

</p>

<p>
しかし、スモンとの戦いは、今もなお誤った科学の典型的な例なのです。

</p>

</section>


<section>
<h3> クリオキノールはいまだに使用され、悲惨な結果となっている </h3>
<p>

2015年には 
<%= link_to "Netherlands Pharmacovigilance Center Lareb",
'https://www.lareb.nl/en/pages/about-lareb' %> 
の研究者が、

<%= link_to "オランダ薬剤評価委員会への手紙", 'https://www.lareb.nl/media/4u5jo1ju/kwb_2015_1_clioqu.pdf' %>

において、クリオキノールに関連した副作用の増加傾向を指摘しました。




</p>

<p>
オランダでは2010年以降、クリオキノールの全身投与が増加していると指摘しています。
投与量は1日最大750mg、10日以内とされているにも関わらずです。


</p>

<p>
  <em>
  副作用としては、4歳の子供のスモン病がありました。
    
  </em>
</p>
</section>

