---
title: Going the wrong path
layout: tufte
prev_page: 死亡統計
prev_url: death-profile.html
next_page: 結論として
next_url: conclusions.html
nav_menu: true
---

# 過ちの道をたどる
<p class='subtitle'>
「新生活様式」に公に疑問を呈する理由 
</p>

<section>
<h2> 2つの都市の話：ダルエスサラームとニューヨーク</h2>

<h3>先進国での死亡者数 </h3>
<p>
<span class="newthought">世界のいくつかの国</span>では、
多くの高齢者が突然、亡くなっています。

しかし、これらの死は世界の貧しい地域では起こらず、そういった地域の人々は一般に、
日本の人々が受けるような並外れたレベルの個人的なケアを行われていません。


</p>

<p>
むしろ、2020年夏以前の初期の死亡エピソードとしては、
西ヨーロッパ、北米で起きています。
しかも、そのほとんどが、


<%=
link_to "老人ホームで介護を受けている高齢者の方の死亡",
'https://ltccovid.org/wp-content/uploads/2020/06/Mortality-associated-with-COVID-21-May-3.pdf'
%>

でした。

例えばイギリスでは、5万人の超過死亡者のうち50％以上が老人ホームの入居者だったのです。


同様に、米国でも多くの

<%=
link_to "老人ホーム入居者が死亡しました",
'https://freopp.org/the-covid-19-nursing-home-crisis-by-the-numbers-3a47433c3f70'
%>


。特に

<%= 
link_to "ニューヨーク市",
'https://www.npr.org/sections/coronavirus-live-updates/2021/01/28/961637249/investigation-cuomo-team-undercounted-n-y-covid-19-nursing-home-deaths'%>



です。



</p>

<h3> ニューヨーク市での死亡者数の増加</h3>


<figure>
  <%= image_tag('/images/views/ny_city_deaths.png',
:width=>'90%', 'max-width' => '800px', 'min-width'=>'500px', :height=>'auto') %>
<figcaption>

<b>図1.</b>過去5年間の各MMWR週と比較した2019-2020年のニューヨーク市の全死因による週間死亡者数。
MMWRとは、Morbidity and Mortality Weekly Reportの略。
データは、ある年（例えば2019年）の初秋頃に始まり、翌年（例えば2020年）の初秋まで続く。
グラフの死亡数のピークは、2020年4月11日に終わる週に発生している。

<cite><b>Source</b>: 
<%=
  link_to "G. Briand (2021), COVID-19 Deaths A Look at U.S. Data",
'https://www.researchgate.net/project/COVID-19-Deaths-A-Look-at-US-Data'
%>
</cite>
</figcaption>
</figure>

<p style="margin: 2px;
    padding: 2px;
    border-width: 1px;
    border-color: white;
    border-style: solid;"
> 
米国では、死亡率の上昇は5つの地域に限られていました。
ニューヨーク市の超過死亡率は469％、次いでニュージャージー州（221％）、ニューヨーク州（126％）、コネチカット州（122％）、マサチューセッツ州（110％）となっています。

サウスダコタ州では、マスク着用の義務化や健康な人々の強制隔離（ロックダウン）などの衛生措置がとられなかったため、過剰死亡者は出ませんでした。


</p>

<br>
<br>
<p>
<cite>
ぜひ、図1に示した2020年4月中の死亡者数の急増を見て、
ウイルスのパンデミックによる大量死などの自然な理由で、
なぜこのような異常事態が起こるのかを疑問視していただきたいと思います。

</cite>
</p>

<h3>開発途上国での死亡率 </h3>
<p>
開発途上国の中でも、タンザニアの状況は様々な理由で際立っています。

最近、ダルエスサラームで行われたタンザニアの

<%=
link_to "政治家",
'https://headtopics.com/za/letter-to-the-editor-in-defence-of-president-john-magufuli-tanzania-is-a-beacon-of-democracy-6113341'
%>

の葬儀は、
<cite>COVID-19</cite>の物語の妥当性に疑問を投げかけ、
おそらく健康の安全性を確保することの地政学的な結果を再考することを促すでしょう。



<label for="sn-health-security" class="margin-toggle sidenote-number">&#8853;</label>
  <input type="checkbox" id="sn-health-security" class="margin-toggle"/>
  <span class="sidenote">
  <%= link_to "W. Aldis (2008), <q>Health security as a public health concept: a critical analysis</q>, Health Policy and Planning, Volume 23, Issue 6, November 2008, Pages 369–375, https://doi.org/10.1093/heapol/czn030",
 'https://academic.oup.com/heapol/article/23/6/369/572074'
%>
</span>
</p>


<figure class="iframe-wrapper">
<iframe width="560" height="315" src="https://www.youtube.com/embed/AGvUTUGPWrM?start=462" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>

<p>

この葬儀の1年前、タンザニアは国際保健規則に明らかに反して、COVID-19の検査と報告を中止していました。

ロンドンのインペリアル・カレッジは、
2020年末までに10万人のタンザニア人がCOVID-19で死亡すると予測しました。
<cite>2021年3月現在、葬儀のビデオが示すように、タンザニアではソーシャル・ディスタンスが存在しません。

</cite>
<figure>
  <%= image_tag('/images/views/prediction_tanzania.png',
:width=>'90%', 'max-width' => '800px', 'min-width'=>'500px', :height=>'auto') %>
</figure>
</p>

<p>
世界各国の政府やWHOが手を携えてタンザニアを非難しました。
しかし、ボイス・オブ・アメリカがスポンサーとなったレポートにあるように、
タンザニアでは、フェイスマスクや社会的な距離を置くことを推奨しなくなってから、
パンデミックの影響は何も起こっていないようです。


</p>

<figure class="iframe-wrapper">
<iframe width="560" height="315" src="https://www.youtube.com/embed/nLOzsbypSs4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>


<p>

2021年3月17日まで、タンザニアではパンデミックに関わるような重要なことは
何も起こっていないようでした。
その日、WHOと国際保健規則に反抗したタンザニアの大統領は、

<%= 
link_to "「心臓病」で亡くなったのです。",
'https://www.dw.com/en/tributes-to-magufuli-pour-in-from-across-africa/a-56916315'
%>



  <label for="mn-tz-rein" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-tz-rein" class="margin-toggle"/>
  <span class="marginnote">
  <%=
 link_to "アフリカは今こそ、タンザニアの反バクテリア大統領を阻止する時だ。
2021年2月8日、ビル&amp;メリンダ・ゲイツ財団が後援する世界開発に関するガーディアン紙の意見欄。",
'https://www.theguardian.com/global-development/2021/feb/08/its-time-for-africa-to-rein-in-tanzanias-anti-vaxxer-president?fbclid=IwAR2Y9bQqgMeDpYraFL1T7B7Qq55WvzEE-JAEMZSFtOQMmwXIedcpjfbzVPo'
%>
</span>
</p>
<p style="text-align:center">
<span class="newthought">彼はようやく抑えられました! </span>
</p>
<p>

私たちの政府は何もできないかもしれませんが、
私たちには子供たちや将来の世代に対する責任があり、
両親や国の高齢者に恩返しをする義務があります。

やみくもに迷信を広めるのではなく、事実を検証し、状況を客観的に理解し、
適切な行動をとることが私たちの厳粛な義務です

</p>
</section>
