---
title: Going the wrong path
layout: tufte
prev_page: スモンからディオバン<sup>&reg;</sup>へ"
prev_url: smon-to-diovan.html
next_page: 巨大製薬と規制当局
next_url: bigpharma-and-regulators.html
nav_menu: true
---

# 過ちの道をたどる

<p class='subtitle'>
「新生活様式」に公に疑問を呈する理由 
</p>

<section>

<h2>立ち止まる時 </h2>


<section>
<h3> 二人の科学者の思い </h3>

<b> 1. ジョン・P・A・ヨアニディス　スタンフォード大学医学部教授 </b>


<blockquote>
<b> 発表された研究結果の多くが偽物である理由 </b>
<em> 
<p> 
発表された研究結果が、その後の証拠によって否定されることがあります。

その結果、混乱と失望が生じます。

反論や論争は、臨床試験や伝統的な疫学研究 [1-3]から最新の分子研究 [4,5]まで、さまざまな研究デザインで見られます。


現代の研究では、発表された研究結果の大半、あるいは大部分が偽の発見ではないかという懸念が高まっています[6-8]。

 しかし、
これは驚くべきことではありません。主張されている研究結果のほとんどが虚偽であることは証明できます。

ここでは、この問題に影響を与えている主要な要因と、それに付随するいくつかを検証しましょう。
</p>
</em>
<footer>
<%= link_to "<b>Why Most Published Research Findings Are False </b>
<em>PLoS Med 2(8)</em>: <b>e124</b> doi:10.1371/journal.pmed.0020124",
'https://journals.plos.org/plosmedicine/article?id=10.1371/journal.pmed.0020124'
%>
</footer>
</blockquote>

<b> 2.  本庶佑教授のノーベル医学・生理学賞受賞発表後のNHKインタビュー

</b>

<p>
このインタビューはもともと
<%= link_to "NHKレポート", 'https://www3.nhk.or.jp/news/html/20181002/k10011654191000.html'
%>にありましたが、もはや無くなっています。
<%=link_to "しかし、こちらにアーカイブされています。", 
'https://web.archive.org/web/20181004081350/https://www3.nhk.or.jp/news/html/20181002/k10011654191000.html' %>
</p>


<blockquote>
<p>
<em>
<b> Ｑ：自分が心がけていること、モットーは？ </b>
<br>

「私自身は、研究に関して、何か知りたいという好奇心がある。

もう１つは、簡単に信じない。
それから、よくマスコミの人は、ネイチャー、サイエンスに出ているからどうだ、
という話をするが、

僕はいつもネイチャー、サイエンスに出ているものの９割はうそで、
10年たったら、残って１割だと思っています。
まず、論文とか、書いてあることを信じない。自分の目で、確信ができるまでやる。
それが僕のサイエンスに対する基本的なやり方。つまり、自分の頭で考えて、納得できるまでやると言うことです」

</em> </p> 

<footer>
<%= link_to "<b>ノーベル賞 本庶佑さん 記者会見の要旨</b> 
<em>NHK News Web</em>, October 2, 2018",
'https://web.archive.org/web/20181004081350/https://www3.nhk.or.jp/news/html/20181002/k10011654191000.html' %>
</footer>
</blockquote>
</section>
