---
title: Going the wrong path
layout: tufte
prev_page: WHO and the Swine
prev_url: /mailer/who-and-swine-flueza.html
next_page: WHO and the Swine
next_url: /mailer/who-and-swine-flueza.html
nav_menu: true
---

# Going down the wrong path
<p class='subtitle'>
Why I openly question the "New Normal" or "New life style"
</p>

<section>
<h2> WHO - a private organization? </h2>
<p>
In 2019, the WHO got more than 68% of its funds from private entities, overpowering contributions from its member states. How WHO is fundedWhile espousing 'global health philantrocapitalism', its most conspicuous donors, the GAVI Alliance and Bill and Melinda Gates Foundation (BMGF) generates revenue from investements in Big Pharma and the junk food industry.Global Health Philanthropy and Institutional Relationships: How Should Conflicts of Interest Be Addressed? David Stuckler ,Sanjay Basu,Martin McKee Published: April 12, 2011https://doi.org/10.1371/journal.pmed.1001020
Till 2004, WHO's authority was limited to preventing the spread of cholera, malaria, and plague.
</p>

<p>
And then, around the dawn of the twenty-first century, a barrage of epidemics acronymed HIV/AIDS, Ebola, SARS, H5N1, H1N1, MERS, Zika arrived.
</p>

<p>
Today, when WHO cries 'Pandemic', its member states have to start testing, surveillance, and isolation of their suspected populations, till WHO declares the end of the pandemic.
</p>

</section>

