---
title: Going the wrong path
layout: tufte
prev_page: 巨大製薬とWHO
prev_url: bigpharma-and-who.html
next_page: 常識に立ち戻る
next_url: return-to-common-sense.html
nav_menu: true
---

# 過ちの道をたどる
<p class='subtitle'>
「新生活様式」に公に疑問を呈する理由 
</p>

<section>
<h2> WHOと豚インフル</h2>

<p>
<span class="newthought">麻薬や向精神薬を世界各国の政府に押し付ける際、
WHOのメッセージは、がんに伴う痛みというデリケートな問題に焦点を当てていました</span>。
これは人々も政府も無視できないものです。

</p>

<p>
  <label for="mn-who-read" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-who-read" class="margin-toggle"/>
  <span class="marginnote">
    <b> 参考資料 </b><br>
    <%= 
      link_to "A Whole Industry is Waiting For A Pandemic,  <cite> SPIEGEL International </cite>, 21 July 2009", 
      'https://www.spiegel.de/international/world/interview-with-epidemiologist-tom-jefferson-a-whole-industry-is-waiting-for-a-pandemic-a-637119.html'
    %>
    <br>
    <br>
    <%= 
      link_to "HSE ‘misled’ public on swine flu vaccine, claims teen with narcolepsy",
"https://www.thetimes.co.uk/article/hse-misled-public-on-swine-flu-vaccine-claims-teen-with-narcolepsy-xtbblvmdb"
    %>
    <br>
    <br>
    <%= 
      link_to "UK GOVERNMENT TO COMPENSATE BRAIN-DAMAGED VICTIMS OF SWINE FLU VACCINE",
'https://www.mctlaw.com/vaccine-injury/uk-government-to-compensate-brain-damaged-victims-of-swine-flu-vaccine/'
    %>
    <br>
    <br>
    <%= 
      link_to "Appendix 4.6 Pandemrix and Narcolepsy - Mapping of international
studies, in The Swedish Research Council's mapping of research
related to the etiology and treatment of the disease Narcolepsy, pages 38--41",
'https://www.vr.se/download/18.2412c5311624176023d255ce/1529480556721/The-Swedish-Research-Councils-Mapping-of-Research.%20Etiology-Treatment-Narcolepsy_VR_2012.pdf'
    %>
    <br>
    <br>
  </span>
</p>
<p>
1999年、WHOはさらに別の「ガイダンス文書」の作成に着手しました。
<cite>インフルエンザパンデミック計画：WHOの役割と国と地域の計画のためのガイドライン</cite>です。

この文書の中で、WHOの指導者たちは、パンデミックによる壊滅的な死と病気への恐怖を呼び起こし、
各国政府に大きな行動を促しています。

<blockquote>
<p>
<cite>
<q>
パンデミックがいつ発生するかを予測することは不可能です。
もし、1918年のような真のインフルエンザ・パンデミック・ウイルスが出現したら、
その後の医学の進歩を考慮しても、他に類を見ないほどの病死者が出ることが予想されます。

</q>
</cite>
</p>
<footer>
<%=
  link_to "D. Cohen and P. Carter, 'WHO and the pandemic flu <q> conspiracies</q>', <cite> BMJ</cite> 3 June 2010, doi:10.1136/bmj.c2912",
  'https://childrenshealthdefense.org/wp-content/uploads/Godlee-2010-Conflicts-of-interest-and-pandemic-flu.pdf'
%>  
</footer>
</blockquote>
</p>

<p>
<cite>
しかし、提言された行動は、ほとんどが製薬会社に有利なものでした。
抗ウイルス剤の備蓄、パンデミックワクチンの開発支援などです。

</cite>
</p>

<p>
その10年後、
<%=
  link_to "WHOは2009年6月10日に豚インフルエンザのパンデミックを宣言しました。",
  'https://www.spiegel.de/international/world/reconstruction-of-a-mass-hysteria-the-swine-flu-panic-of-2009-a-682613.html'
%>
すると、WHOのガイドラインで想定されているマシンが動き始めたのです。
<blockquote>
<p>
<cite>
これで、マシンが動き出しました。
研究者たちは、ウイルスの分子構造の解明に取り組み、製薬会社はワクチンの開発に着手し、
政府機関は災害対策の計画を立てました。
ただ一つ、皆が無視していることがありました。
それは、この新種の病原体が、実際には比較的無害だったということです。


</cite>
</p>
<footer>
<%=
  link_to "Reconstruction of a Mass Hysteria: The Swine Flu Panic of 2009,
    <cite> SPIEGEL International</cite>, 12 March 2010",
  'https://www.spiegel.de/international/world/reconstruction-of-a-mass-hysteria-the-swine-flu-panic-of-2009-a-682613.html'
%>
</footer>
</blockquote>
</p>


<p>
<!-- add links -->
その後、WHOの豚インフルエンザへの対応について、ジャーナリスト、
<%=
link_to "政治家", 
'https://assembly.coe.int/nw/xml/XRef/Xref-XML2HTML-en.asp?fileid=17889&lang=en#:~:text=Handling%20of%20the%20H1N1%20pandemic%3A%20more%20transparency%20needed,-Author(s)%3A&text=The%20Parliamentary%20Assembly%20is%20alarmed,Union%20and%20at%20national%20level.'
%>、
科学雑誌などによる調査が行われました。
豚インフルエンザワクチンがヨーロッパ中の何千人もの子供たちに与えた
不可逆的な脳障害については、以下のドキュメンタリーでよく紹介されています。


</p>
<figure class='iframe-wrapper'>
<iframe width="560" height="315" src="https://www.youtube.com/embed/kB0MEjHgkfM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>

<p>
私にとっては、<cite>BMJ</cite>と<cite>The Bureau of Investigative Journalism</cite>
による調査報告書の冒頭の一文が、巨大製薬とWHOとの間の不透明な関係を最もよく表していると思います。


<blockquote>
<p>
<cite>
「WHOのパンデミック対策に助言を与えている主要な科学者たちは、
彼らが作成しているガイダンスから利益を得ることができる製薬会社から
報酬を得て仕事をしていた」。
このような利益相反関係はWHOでは一度も公表されておらず、
WHOはA/H1N1パンデミックへの対応に関する問い合わせを<q>陰謀論</q>として片付けている。


</cite>
</p>
<footer>
<%=
  link_to "D. Cohen and P. Carter, 'WHO and the pandemic flu <q> conspiracies</q>', <cite> BMJ</cite> 3 June 2010, doi:10.1136/bmj.c2912",
  'https://childrenshealthdefense.org/wp-content/uploads/Godlee-2010-Conflicts-of-interest-and-pandemic-flu.pdf'
%>  
</footer>
</blockquote>
</p>
</section>
