---
title: Going the wrong path
layout: tufte
next_page: 科学と科学者
next_url: science-and-scientists.html
nav_menu: true
---


# 過ちの道をたどる
<p class='subtitle'>
「新生活様式」に公に疑問を呈する理由
</p>


<section>

<p>
「新生活様式」「新ライフスタイル」（これ以降は新生活様式とする）に関連する制約についての私の見方を示す
<span class="newthought">機会をいただけたことに感謝します</span>。
これは2020年初頭から導入されたものです。
私の行動が誤解されないよう、これを説明する前に、いくつかの声明をしておきます。
</p>

<p>
私は個人的理由で「新生活様式」に反対しているわけではありません。
私自身の自由のためでは無いのです。

日本は、特に先進国の多くの国に比べてほとんど制限がありません。
マスクをしたり、人と距離を置いたりすることが、本当に正しいことであれば、
最も簡単なことなのです。
</p>

<p>
世界保健機関（WHO）が2020年初頭に発表した新たなパンデミック
であるCOVID-19に関する情報やデータを慎重に検討した結果、私は反対するのです。
</p>

<p>
「新生活様式」を維持することには、二つの深刻な問題があります。
</p>

<ol>
  <li> 第一に、入手可能なデータや情報を客観的に分析すると、
COVID-19の危険性を誇張しようとする意図的な試みがあることがわかるのです。
これは、「新生活様式」そのものの持つ恐ろしい意味合いを考えると、明らかに非倫理的です。 

  <ul>
  <li> 
    <p> 
    <label for="mn-jp-suicide" class="margin-toggle">&#8853;</label>
    <input type="checkbox" id="mn-jp-suicide" class="margin-toggle"/>
    <span class="marginnote">
      <%= link_to '<b>朝日新聞のニュース記事（2021年1月23日 18:04 JST）</b>。<em>COVID-19による隔離が、2020年に急増する自殺の重要な要因に </em>', "http://www.asahi.com/ajw/articles/14130555" %>
    </span>
    ここ日本では、「新生活様式」が一般市民に多くの苦難をもたらし、経済を荒廃させました。 

その結果、2020年には自殺者数が激増することになりました。
2020年には、20代30代の若い女性の自殺が、
経済あるいは生活の問題で58.2％も増加したと厚生労働省が発表しています。
また、小・中・高校生の自殺者数が過去最多となっていることも同様に心配です。
それに加え、
日本中の何百万人もの学生が、「新生活様式」によって頻繁に教育を中断されているのです。
  </p>
</li>

<p>
  <li> 
  極めて明白であり、<%= link_to "「世界中の多くの科学者が同意していることですが、
我々は「新生活様式」を正当化するような状況にはないということです", 
'https://gbdeclaration.org' %>。

むしろ、以下を通じて「新生活様式」が維持されていることは明らかです。つまり、

<%= link_to "誤用された検査手続き", 'https://cormandrostenreview.com/report' %>、

意図的な情報操作、検閲、そして

<%= link_to "「心理的操作」", 'https://clinicaltrials.gov/ct2/show/study/NCT04460703' %>
です。

  </li>
</p>
  </ul>
</li>

<li> 
第二に、「新生活様式」は、恐怖と制限の状態を継続させるのです。

これにより、近年の中でも最も危険な医療実験の一つに一般の人々をかりたてます。
つまり、安全性が適切に検証されていない医療介入による集団予防接種キャンペーンです。


<ul>
  <li> 
大規模な予防接種キャンペーンで使用される医療技術は斬新で、
多くの医学研究者にとってエキサイティングなものです。

これらの技術は、例えば嚢胞性線維症のように、現在は治療法がない重篤な疾患の対処に有望です。

<br> <br> しかし、このような新しい技術は、人間に対する安全性を<b>適切に</b>評価されたことがなく、
感染症のまん延を防ぐためのものではありません。

新しい医療技術の安全性評価は最も重要なのですが、
有害事象の性質、量、期間は、適切に設定された臨床試験なしには予測できないためです。


</li>

  <li>現在のCOVID-19の状況と「新生活様式」が、
  WHOや各国の保健当局、政府によって、このような厳格な試験を回避するための正当な
  理由として用いられているのです。 </li> 
</ul>
</li>
</ol>


<p>
明らかに、「新生活様式」の継続は、ほとんどの人にとって非常に危険です。
ですから、責任ある学者として、「新生活様式」に断固反対するのが私の義務です。

私には反対するしかありません。

さもなければ、私が黙って承認したことで、
私の給料を支払い、私の自由な科学研究を支援してくれている
日本の納税者を苦しめることになるからです。

</p>
<p>
これは、私に質の高い教育を与えてくれたインドの人々を傷つけることになります。
彼らが私に
マハトマ・ガンジーや 
<%= link_to "Judge Radhabinod Pal", "https://www.beaninspirer.com/radhabinod-pal-dissenting-judge-tokyo-trials-builder-modern-indian-law-system/" %>
に代表される正義感、客観性、公平性の意味を私に教えてくれたのです。



</p>

<p>
上記の2つの問題について、少し詳しく説明させてください。
しかし、その前に、「科学と科学者」について、いくつかコメントします。
これは、良く言われる「科学を信じろ！」という言葉の文脈に沿ったものです。

</p>
</section>

